<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Login</h1>
    <form method="POST">
       
        <table>
            <tr>
                <th>Username: </th>
                <td><input type="text" name="uname" id="uname"></td>
            </tr>
            <tr>
                <th>Password: </th>
                <td><input type="password" name="pass" id="pass"></td>
            </tr>
            </table>
            <br><br>
            <input type ="submit" name="reg" value="Login" id="reg"></td>
    </form>
    </center>
    </body>        
