
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        
        <center>
        <h1> Add a question </h1>
        <form method="post" >
            <input type="text" name="input">
            <br><br>
            <input type="submit" name="submit">
           
        </form>
    
    
        
        <h1>Questions Details</h1>
            <table border="1">
                <tr>
                <th>Question_id</th>
                <th>Test_id</th> 
                <th>Question</th>
                <th>Action</th>
                </tr>
            {% for i in data['view']%}
            <tr>
                <td>{{i['Question_id']}}</td>
                <td>{{i['Test_id']}}</td>
                <td>{{i['Question']}}</td>
                
                <td><a href="?action=update&id={{i['Question_id']}}">update</a>
                <td><a href="?action=delete&id={{i['Question_id']}}">delete</a>
        
            </tr>
            {%endfor%}
            </table>