!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User details</h1>
    <form method="POST">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Standard</th>
                <th>Action</th>
            </tr>
            {% for i in data['view']%}
            <tr>
                <td>{{i['name']}}</td>
                <td>{{i['age']}}</td>
                <td>{{i['standard']}}</td>           
                <td><a href="?action=update&id={{i['user_id']}}">update</a>
                <td><a href="?action=delete&id={{i['user_id']}}">delete</a>
            </tr>
            {%endfor%}

    </form>
</body>