<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Registartion</h1>
    <form method="POST"> 
        <table>
            <tr>
                <th>Fname: </th>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <th>Lname: </th>
                <td><input type="text" name="age" id="age"></td>
            </tr>
            <tr>
                <th>Phone: </th>
                <td><input type="text" name="phone" id="phone"></td>
            </tr>
            <tr>
                <th>Email: </th>
                <td><input type="email" name="email" id="email"></td>
            </tr>
            <tr>
                <th>Standard: </th>
                <td>
                    <select>
                        <option>High school</option>
                        <option>Higher Secondary</option>
                        <option>ug</option>
                        <option>pg</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Username:</th>
                <td><input type="text" name="uname" id="uname"></td>
            </tr>
            <tr>
                <th>Password: </th>
                <td><input type="password" name="pass" id="pass"></td>
            </tr>
        </table>
        <br><br>
       <input type ="button" name="reg" value="Register" id="reg"></td>
        
        </center>

    </form>
  