<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Teacher Registration</h1>
    <form action="" method="post">
        <table>
            <tr>
                <th>FIRST NAME</th>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
                <th>LAST NAME</th>
                <td><input type="text" name="lname"></td>
            </tr>
            <tr>
                <th>PHONE</th>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <th>QUALIFICATION</th>
                <td><input type="text" name="quali"></td>
            </tr>
            <tr>
                <th>USERNAME</th>
                <td><input type="text" name="uname" id="uname"></td>
            </tr>
            <tr>
                <th>PASSWORD</th>
                <td><input type="password" name="pass" id="pass"></td>
            </tr>
        </table><br>
           <input type="submit" name="submit" value="REGISTER">   
    </form>
    <br><br>
    <a href="reg_details">view details..</a>
    </center>
    </body>
